%li.dropdown
	%a{:href => "#", class: "dropdown-toggle", "data-toggle" => "dropdown"}
		Genres
		%b.caret
	%ul.dropdown-menu
		- ApplicationController::GENRES.each do |genre|
			%li= link_to "#{genre}", root_url