= form_tag search_songs_path, method: :get, class: "navbar-form navbar-left", role: "search" do
  = text_field_tag :search, params[:search], class: "form-control", placeholder: "Search songs..." 
  = submit_tag "Go!", name: nil, class: "btn btn-default"