!!! 5
%html
  %head
    %title MusicApp
    =stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    =javascript_include_tag 'application', 'data-turbolinks-track' => true
    =csrf_meta_tags
    =javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js'
    =mp3_player_headers without_swfobject: true
    =javascript_include_tag "//www.google.com/jsapi", "chartkick"
  %body
    =render 'layouts/header'

    .container
      -flash.each do |name, msg|
        = content_tag :div, msg, class: 'alert alert-info'

      =yield
    =debug(params) if Rails.env.development?